---
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>cicihere.com</title>
  </head>
  <body>
    <h1>Chào mừng đến với cicihere.com</h1>
    <p>Trang web khám phá những niche siêu hay ho. Ấn tượng từ ý tưởng đến cách làm đơn giản.</p>
    <a href="/about">Giới thiệu về mình</a>
  </body>
</html>
