---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cicihere - Home" description="Nơi bạn tìm ra thứ mình không biết mình cần.">
  <h1>Welcome to Cicihere</h1>
  <p>Đây là trang chủ đầu tiên của bạn, với layout mới.</p>
</Layout>
